
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sorts+Mill+Goudy:ital@0;1&family=Tajawal:wght@200;300;400;500;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yellowtail&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* navbar */
.navbar{
    background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);
    color: #fff;
}
.content{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .left ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .left ul li{
    pa
}
.navbar button{
    padding: 12px 21px;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
}
.navbar button:hover{
    background-color: #fff;
    color: #e83e8c;
}