
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sorts+Mill+Goudy:ital@0;1&family=Tajawal:wght@200;300;400;500;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yellowtail&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* navbar */
.navbar{
    background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);
    color: #fff;
    position: fixed;
    width: 100%;
}
.content{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .left .logo{
    padding-right: 50px;
}

.content .left ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .left ul li{
    padding: 0px 20px 0px 0px;
    position: relative;
}
.content .left ul li:after{
    content: "";
    width: 70%;
    height: 2px;
    color: #fff;
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    left: 0;
}
.navbar button{
    padding: 12px 21px;
    border: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
}
.navbar button:hover{
    background-color: #fff;
    color: #e83e8c;
}


/* home */
.home {
    background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);
    color: #fff;
    height: 600px;
}
.home .content{
    position: relative;
}
.home .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    z-index: 10;
}
.home .left h1{
    font-size: 64px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 10px;
}
.home .left p{
    margin-bottom: 29px;
    padding-right: 16px;
    font-size: 18px;
}
.home .left button{
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
    padding: 17px 27px;
    font-size: 16px ;
    font-weight: 700 ;
    border-radius: 25px;
    line-height: 1;
    border: none;
    outline: none;
}


.home .right {
    height: 480px;
    position: absolute;
    top: 0;
    right: 10%;
}
.home .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* start general */
.title{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    text-align: center;
    margin-bottom: 60px;
}
.title h5{
    color: #FF4495;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}
.title h1{
    color: #232F55;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 17px;
}
/* end general */


/* services */
.services{
    padding: 30px 50px;
}

.services .content,
.services .content .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.services .content .card{
    flex-direction: column;
    padding: 60px 30px;
    border-radius: 10px;
}
.services .content .card:hover{
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
    transition: all .4s ease-out 0s;
}
/* .services .content .card:nth-child(2){
    padding: 0px 20px;
} */
.services .content .card img{
    margin-bottom: 50px;
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0px 15px 25px rgba(0, 4, 74, 0.04);
}
.services .content .card h2{
    color: #232F55;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 21px;
}
.services .content .card p{
    color: #3F4854;
    font-size: 16px;
    line-height: 1.4;
}


/* features */
.features{

}
.features .content{
    align-items: start;
    height: 600px;
}
.features .left{
    padding-right: 20px;
    width: 40%;
    /* position: relative; */

}
/* .features .new{
    background-color: #FFF;
    padding: 20px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */
.features .left img{

}
.features .right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.features .right{
    padding-left: 20px;
    height: 100%;
}
.features .right h2{
    font-size: 36px;
    color: #232F55;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 17px;

}
.features .right .card{
    display: flex;
    justify-content: space-between;
}





/* industries */
.industries{
    padding: 50px;
    background: linear-gradient(to right, #0c0c1f 0%, #00095e 100%);
}
.industries .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.industries .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.industries .top .title{
    align-items: start;
    text-align: start;
}
.industries .top .title h1{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 17px;
}
.industries .top .title,
.industries .top .desc{
    width: 45%;
}

.industries .top .desc p{
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 15px;
}
.industries .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.industries .bottom .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 16px rgba(84, 0, 0, 0.06);
    padding: 50px 36px 39px 36px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 22%;
}
.industries .bottom .card img{
    margin: 0 auto;
    margin-bottom: 30px;
}
.industries .bottom .card h3{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.industries .content p{
    margin: 50px auto;
    color: #fff;
    font-size: 18px;

}
.industries .content p a{
    text-decoration: underline;
    cursor: pointer;
}


/* about */
.about{

}
.about .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
}
.about .top{

}
.about .bottom{

}